:root {
    --font-family: "Arial", sans-serif;
    --second-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;

}

img {
    max-width: 100%;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    background: #404040;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1425px;
    margin: 0 auto;

}

.header {
    background: #404040;

}

.container__header {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    background: #404040;
    color: #fff;
    font-family: var(--second-family);
    font-weight: 400;
}

.nav__list,
.header__contacts-item,
.header__contacts-list {
    display: flex;
}

.nav__list,
.header__contacts-list {
    padding-top: 50px;
    column-gap: 34px;

}

.nav__link,
.header__contacts-link,
.header__contacts-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.header__contacts-item {
    column-gap: 2px;
}

.logo {
    padding-top: 16px;
}

.line {
    margin: 0px;
    background-color: #fff;
}

.feedback {
    background-image: url(../img/Mask\ group\ \(9\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.overlay {
    background-color: rgb(7 8 8 / 80%);
    padding-top: 80px;
    padding-bottom: 90px;
    height: 100%;
    align-items: center;
}

.feedback__title {
    max-width: 870px;
    margin: 0 auto;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    margin-bottom: 68px;
}

.form {
    display: flex;
    justify-content: center;
    gap: 20px 35px;
}

.form__text {
    max-width: 286px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-bottom: 32px;
    text-align: left;
}

.form__file {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #000;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 13px 17px;
}

.form__file {
    position: relative;
    display: inline-block;
}

.form__file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    border: none;
    margin: 0;
}

.form__file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.form__right {
    display: grid;
    gap: 20px;
}

.form__user-info {
    border-radius: 4px;
    border: none;
    resize: none;
    outline: none;
    display: flex;
    padding: 13px 17px;
    padding-right: 223px;
}

.form__btn-wrap {
    text-align: center;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 13px 0px;
}

.form__btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: none;
    cursor: pointer;
    border: none;
}

.feeetback__subtitle-info {
    display: flex;
    justify-content: center;
    column-gap: 330px;
    margin-bottom: 36px;
}

.feeetback__tels {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    max-width: 138px;
}

.feeetback__tel {
    color: inherit;
}

.feeetback__location {
    max-width: 286px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-align: left;
}

.map {
    height: 276px;
    background-image: url(../img/Карта.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer {
    padding-top: 18px;
    background: #404040;
}

.footer__container {
    display: flex;
    justify-content: center;
    gap: 46px;

}

.footer__requisites {
    display: flex;
    column-gap: 66px;
    margin-top: 7px;
}

.footer__contacts {
    display: flex;
    gap: 72px;
    margin-top: 7px;
}

.footer__tel {
    display: block;
}

.footer__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}